<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lighModeV.ico">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Careers | Annaly Capital</title>
</head>
<body>

    {% extends "base.html" %}
{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="the-power-of-vcf-holding">
    <div class="imgs">
        <img class="img1" src="/static/images/investors.jpg" alt="">
        <img class="img2" src="/static/images/the-power-of-vcf2.jpg" alt="">
    </div>
</div>

<div class="investor-relations-labels">
<h1 class="investor-relations-page">Careers</h1>
<h1 class="investor-relations-page2">Our greatest asset is our employees - highly skilled individuals who come to work every day, committed to the long-term success and growth of our Company.</h1>
</div>
<br><br>

<div class="first-careers-thing">
    <h1>Uncommon Talent</h1>
    <p>Annaly is a great organization for self-motivated and talented individuals who are intellectually curious and enjoy working in a collaborative work environment driven by continuous improvement. At Annaly, we value the contributions and talent of all our employees. We provide our employees with a breadth of experiences that allow our people to continue to be challenged and develop professionally as the needs of our buiness evolve.</p>
</div>

<br><br>


<div class="second-careers-thing">


    <div class="img-one-thing">
        <img src="/static/images/career1.jpg" alt="" width="520" height="500">
    </div>

    <div class="img-two-thing">
        <img src="/static/images/career2.jpg" alt="" width="520" height="500">
    </div>
</div>

<div class="img-white-boxes">
<div class="img-one-box">
    <h3>Human Capital</h3>
    <p>Our people are our greatest asset and we are committed to promoting our employees' engagement, development and full potential. We emphasize workplace ownership, inclusion and excellence and are committed to attracting, developing and retaining the best talent, who have diverse experiences, perspectives and backgrounds.</p>
    
    <div class="img-one-button">
        <a href="#"><h5>Read More</h5></a>
    </div>
</div>


<div class="img-two-box">
    <h3>Diversity, Equity & Inclusion</h3>
    <p>We consider diversity, equity and inclusion an essential element of our corporate culture. We know that all dimensions of diversity enhance our overall oerformance and, ultimately, create value for our employees and investors. We are proud of our diversity, from our diverse Board of Directors to our management team's commitment to promoting employees of all backgrounds.</p>
    
    <div class="img-two-button">
        <a href="#"><h5>Read More</h5></a>
    </div>
</div>
</div>



<br><br><br><br><br><br><br>


<div class="third-career-thing">
    <h1>Employee Development, Benefits and Wellness</h1>
    <p>Actively developing our people not only reflects our commitment to each employee individually, but also directly supports the growth and long-term sustainability of our business, giving us a deep pipeline of talent for the future. We invest in the well-being of our people and offer a wide range of wellness initiatives catering to evolving needs, lifestyles and various career stages of our employees.</p>

</div>


<br><br>

<div class="fourth-career-thing">

    <div class="fourth-career-thing-label">
        <h2>Learning & Development</h2>
        <hr>
    </div>

        <div class="fourth-career-thing-links">
            <a href="#"><h5>Talent & Performance Management</h5></a>
            <hr>
            <a href="#"><h5>Employee Benefits</h5></a>
            <hr>
            <a href="#"><h5>Employee Wellness</h5></a>
            <hr>
            <a href="#"><h5>Educational Subsidies</h5></a>
            <hr>
        </div>
</div>


<div class="fourth-career-blue-box">
    <div class="fourth-career-blue-box-stuff">
        <h2>Learning & Development</h2>
        <p>Annaly provides opportunities for employees to learn in a multitude of ways. Whether on-the-job or through formal programs, developing our employees fosters ownership, purpose and a connection to our culture and values, ultimately resulting in the advancement of Annaly's overall strategic business objectives.</p>
    </div>
</div>

{% endblock %}