<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lighModeV.ico">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="/static/css/contact_html.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Contact | Annaly Capital</title>
</head>
<body>

    {% extends "base.html" %}
{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="the-power-of-vcf-holding">
    <div class="imgs">
        <img class="img1" src="/static/images/third-image.jpg" alt="">
        <img class="img2" src="/static/images/the-power-of-vcf2.jpg" alt="">
    </div>
</div>

<div class="investor-relations-labels">
<h1 class="investor-relations-page">Contact Us</h1>
<h1 class="investor-relations-page2"></h1>
</div>
<br><br>

<div class="first-contact-div">
    <h1>Investor Relations & Email Alerts</h1>
    <p>To receive email notifications when press releases are posted, sign up for email alerts <a href="#">here</a></p>
</div>

<br>


<div class="seond-contact-div">

    <div class="company-contact-info-div">
        <h3>Company Contact Information</h3>
<br>
    <div class="company-contact-info-info">
        <p>Annaly Capital Management, Inc.</p>
        <p>1211 Avenue of the Americans</p>
        <p>New York, NY 10036</p>
    </div>

    <div class="company-contact-info-info2">
        <p>General Inquiries</p>
        <p>Phone: (212) 696-0100</p>
    </div>

    <div class="company-contact-info-info3">
        <p>Investor Inquiries:</p>
        <p>Phone: 1-888-8 ANNALY</p>
        <p>Email: investor@annaly.com</p>
    </div>

    <div class="company-contact-btn">
        <button>Sign Up for Email Alerts</button>
    </div>

</div>


    <div class="transfer-agent">
        <h3>Transfer Agent:</h3>
        <br>
        <div class="conpany-transfer-contact-info">
            <p>Computershare Shareowner Services LLC</p>
            <p>P.O. Box 43006</p>
            <p>Providence, RI 02940-3006</p>
            <a href="#"><p>(800)-301-5234</p></a>
            <a href="#"><p>www.computershare.com</p></a>
        </div>


    </div>

</div>


{% endblock %}