<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lighModeV.ico">
    <link rel="stylesheet" href="static/css/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Leading Diversified Manager | Annaly Capital</title>
</head>
<body>

    {% extends "base.html" %}
{% block content %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/first-image.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="caption-header-1">A Leading Diversified Capital Manager</h1>
            <p class="caption-p">Industry leader with a differentiated model composed of diversified investment strategies on balance sheet.</p>
            <h1 class="learn-more"><a href="{{ url_for('the_power_of_vcf') }}">The Power of NLY</a></h1>
          </div>
      </div>

      <div class="carousel-item">
        <img src="/static/images/second-image.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="caption-header-1">Progressive Approach, Proven Results.</h1>
            <p class="caption-p">Proven over 20+ years to be a stable source of yield for shareholders</p>
            <h1 class="learn-more2"><a href="#">Why Invest in NLY</a></h1>
        </div>
      </div>

      <div class="carousel-item">
        <img src="/static/images/third-image.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="caption-header-1">Powered by our people</h1>
            <p class="caption-p">Our people are our greatest asset and we are committed to promoting our employees engagement, delelopment and full potential</p>
            <h1 class="learn-more3"><a href="#">Human Captial</a></h1>
          </div>
      </div>
    </div>
    </div>

<br>

<h1 class="first-header">With our permanent capital and diversified investment strategies, we are a leader across the residential mortgage finance market.</h1>
   <br> <hr class="index-hr"><br>
<div class="index-extra-stuff">
    <div class="ie1">
        <h1>$82bn</h1>
        <p>Total assets</p>
    </div>

    <div class="ie2">
        <h1>$11bn</h1>
        <p>Permanent Capital</p>
    </div>

    <div class="ie3">
        <h1>$6.3bn</h1>
        <p>Unencumbered Assets</p>
    </div>

</div>

<br><br>

<div class="main-section">
<div class="grey-index-box">
    <div class="grey-index-box-stuff">
    <h1 class="grey-index-box-h1"><a href="#">Agency</a></h1>
    <hr>
        <div class="grey-index-box-minor">
            <a href="#"><h4>Mortgage Servicing Rights</h4></a>
            <hr>
            <a href="#"><h4>Residential Credit</h4></a>
            <hr>
    </div>
</div>
</div>

<div class="blue-index-box">
    <div class="blue-index-p1">
        <p>Utilizing the power of Annaly's capital to generate attractive returns and supper the American homeowner</p>
    </div>

    <div class="blue-index-p2">
        <p >The Annaly Agency Group invest in Agency mortgage-backed securities ("MBS") collateralized by residential mortgages which are guaranteed by Fannie Mae, Freddie Max or Ginnie Mae and complementary investments within the Agency market, including Agency CMBS</p>
    </div>
        <div class="index-extra-stuff2">
            <div class="blue-box-thing">
                <h1>$82bn</h1>
                <p>Total assets</p>
            </div>
    
            <div class="blue-box-thing2">
                <h1>$11bn</h1>
                <p>Permanent Capital</p>
            </div>
    </div>
    <div class="blue-box-learn-more">
        <a href="#"><h1>Learn More</h1></a>
    </div>
</div>
</div>


<div class="investor-box">

    <div class="investors-investors">
        <h1>Investors</h1>
    </div>

    <div class="investors-box-stuff">
        <a href="#"><h1>Events</h1></a>
        <hr>
        <p>The stock price data below is coming from TwelveData's API real time.</p>
    </div>
    <br>

    <div class="stock-info">
        <a href="#"><h1 id="h11">Stock Information</h1></a>
        <hr>
            <div class="stock">
                <h1>${{ stock_price }}</h1>
            </div>
            <div class="other-stock">
                <h1>{{ change }}({{ percent_change }}) | NYSE: NLY</h1>

            </div>
    </div>
        <div class="investor-relations-click">
            <a href="#"><h1>Investor Relations</h1></a>
        </div>

</div>


<div class="investor-left-side-box">
    <a href="#"><h1>Investor Presentations</h1></a>
    <hr>
    <a href="#"><img src="/static/images/investor-thing.jpg" alt="some stuff image"></a>

</div>
{% endblock %}