<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lighModeV.ico">
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="/static/css/our_company.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Our Company | Annaly Capital</title>
</head>
<body>

    {% extends "base.html" %}
{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="the-power-of-vcf-holding">
    <div class="imgs">
        <img class="img1" src="/static/images/third-image.jpg" alt="">
        <img class="img2" src="/static/images/the-power-of-vcf2.jpg" alt="">
    </div>
</div>

<div class="investor-relations-labels">
<h1 class="investor-relations-page">Our Company</h1>
<h1 class="investor-relations-page2">Annaly Capital Management, Inc. is a leading diversified capital manager with investment strategies across mortgage finace.</h1>
</div>
<br><br>

<div class="first-our-company-div">
    <h1>A Market Leader</h1>
    <p>Proven over 20+ years to provide sustainable yield for shareholders, we strive to deliver attractive investment returns throughout market cycles. Our diversified investment strategies include agency mortgage-backed securities, mortgage servicing rights and residential real estate. With $11 billion in permanent capital, we are a leader across the residential mortgage finance market. Annaly has elected to be taxed as real estate investment trust (“REIT”) and is among the world's largest REITs.</p>
</div>

<br>

<div class="second-our-company-div">

    <div class="second-our-company-div-inside">
        <h1>$82bn</h1>
        <p>Total Assets</p>
    </div>

    <div class="second-our-company-div-inside2">
        <h1>20+</h1>
        <p>Year History</p>
    </div>

</div>


<br>

<div class="our-company-imgs">

<div class="img-one-thing1">
    <img src="/static/images/career1.jpg" alt="" width="520" height="500">
</div>

<div class="img-two-thing2">
    <img src="/static/images/career2.jpg" alt="" width="520" height="500">
</div>

</div>


<div class="our-company-img-info-boxes">

    <div class="first-img-info-box">
        <h3>A Culture of Excellence</h3>
        <p>Annaly brings vision, agility and rigor to the process of investment and finance. We seek to continually evolve and expand our institution through disciplined strategy to best serve our shareholders, vitalize local communitites and strengthen the economy.</p>
        
        <div class="first-img-info-box-btn">
            <button>Our Mission and Values</button>
            <hr>
        </div>
    </div>

    <div class="second-img-info-box">
        <h3>Proven Leadership</h3>
        <p>The deep and varied expertise of our talented professionals has supported our successful evolution to the diversified capital manager we are today. Our leadership team brings professional experience across a variety of sectors, credit cycles, backgrounds, functions and market environments.</p>
        
        <div class="second-img-info-box-btn">
            <button>Our Leadership</button>
        </div>
        <hr>
    </div>

</div>

<br><br><br><br><br><br>


<div class="last-our-compnay-div">
    <h1>The Power of Annaly</h1>
    <p>Annaly's greatest strength is our ability to leverage the power of our liquidity, scale and diverification. The combination of our business strategies is intended to enhance risk-adjusted returns over time through investment optionality and risk management.</p>

</div>


<br><br>

{% endblock %}