<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/lighModeV.ico">
    <link rel="stylesheet" href="static/css/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>The Power of Annaly | Annaly Capital</title>
</head>
<body>

    {% extends "base.html" %}
{% block content %}
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="the-power-of-vcf-holding">
    <div class="imgs">
        <img class="img1" src="/static/images/the-power-of-vcf.jpg" alt="">
        <img class="img2" src="/static/images/the-power-of-vcf2.jpg" alt="">
    </div>
</div>

<h1 class="power-of-pain">The Power of Annaly</h1>

<h1 class="power-of-pain2">The industry leader with a differentiated investing model composed of diversified investment strategies on balance sheet.</h1>


<div class="extra-info">
    <div class="e1">
        <h1>9</h1>
        <p>Financing Options</p>
    </div>

    <div class="e2">
        <h1>$6.3bn</h1>
        <p>Unencumbered Assets</p>
    </div>

    <div class="e3">
        <h1>$11bn</h1>
        <p>Permanent Capital</p>
    </div>

    <div class="e4">
        <h1>729%</h1>
        <p>Total Shareholder Return Since IPO</p>
    </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="card" style="width: 18rem;">
            <img src="/static/images/third-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diversified</h5>
              <p class="card-text">Annaly is able to efficiently diversify investments across its businesses through a rigorous shared capital model and capital allocation process.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/second-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Efficient</h5>
              <p class="card-text">Annaly's scale, internalized model and cost discipline yield significantly lower expense ratios relative to industry peers.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/first-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Financing</h5>
              <p class="card-text">Annaly's deep and diverse financing sources across all invesntment groups provide the Company with unique competitive advantages. Our range of financing alternatives includes traditional repo, warehouse lines and financing through our own broker dealer.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
      </div>

      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/first-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Liquid</h5>
              <p class="card-text">Our diversified, lower levevraged stategy results in greater liquidity, with $6.3bn of total unencumbered assets and 4.5bn of case and unencumbered Agency MBS as of June 30, 2022.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
      </div>

      <div class="carousel-item">
        <div class="card" style="width: 18rem;">
            <img src="/static/images/first-image.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Scale</h5>
              <p class="card-text">At 13x the size of the median mortgage REIT by market cap, we are a leader across the residential mortgage finance market.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visible">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visible">Next</span>
    </button>
  </div>

<br><br>
  <img class="total-shareholder-return" src="static/images/total-shareholder-return.png" alt="">
  <br><br>

{% endblock %}